html {
	scroll-behavior: smooth;
	font-family: "Times New Roman";
	font-size: 0.8em;
	color: black;
}

body { margin: 0; }

#main-title {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	overflow: visible;
}

#main-list { padding-top: 100px; }

#main-list li {
	margin-top: 3px;
	margin-left: 25px;
	list-style-position: inside;
}

#ephemeral-menu-bar {
	border: 2px solid rebeccapurple;
	color: white;
	position: fixed;
	/* margin-left: 60%;
	margin-top: 50%; */
	width: 300px;
	height: 300px;
	background-image: url('/gifs/stars.gif');
	background-size: 90%;
	overflow-y: scroll;
}

#ephemeral-menu-bar::-webkit-scrollbar { display: none; }

#ephemeral-menu-bar li {
	margin-bottom: 10px;
}

#ephemeral-menu-bar a {
	text-decoration: none;
	color: white;
}

li ol { list-style-type: lower-alpha; }
li ol ol { list-style-type: lower-roman; }
li ol ol ol { list-style-type: decimal; }
li ol ol ol ol { list-style-type: lower-alpha; }
li ol ol ol ol ol { list-style-type: lower-roman; }
li ol ol ol ol ol ol { list-style-type: decimal; }
li ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
/* when will it end */

span.BIG_whale {
	font-size: 160%;
	color: rgb(126, 87, 189);
}

table { border-collapse: collapse; }

.George_Table th, td {
	border: 1px solid black;
	padding: 10px;
	margin: 0;
}

.REDACTED { background-color: black; }

.over-there {
	margin-right: 50px;
	float: right;
	text-align: center;
}

.message-from-beyond {
	font-size: 120%;
	font-family: 'Courier New', Courier, monospace;
}

div.footnote-line {
	height:0;
	border:1px solid black;
	margin-left: 25px;
	margin-top: 50px;
	width: 25%;
}

.footnote {
	font-family: 'Times New Roman', Times, serif;
	font-size: smaller;
	margin-left: 40px;
}

.in-the-midal {
	margin-right: 40%;
	float: right;
	text-align: center;
	display: inline;
}

.center { text-align: center; }

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
	/* width: 100%; */
	max-width: 1000px;
}

.text-going-away {
	background: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.1));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-going-away-part-2 {
 background: -webkit-linear-gradient(rgba(0,0,0,0.0), rgb(0,0,0,1.0));
}

div.basic-box { border: 1px solid black; }

div.the-unknown { color: rgba(0,0,0,0.1); }

.extreme {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

div.column{
	float: left;
	width: 50%;
	padding: 5px;
	box-sizing: border-box;
}

ol.invisible-list li { list-style-type: none; }

.university {
	font-family: 'Diplomata';
	font-size: x-large;
	font-weight: bold;
}

.gorlami-info p {
	word-wrap: break-all;
	text-indent: 50px;
}
