#main-list {
	font-family: "Times New Roman";
	color: black;
}

#main-list li {
	margin-top: 5px;
}

li ol { list-style-type: lower-alpha; }

li ol ol { list-style-type: lower-roman; }

span.BIG_whale {
	font-size: 160%;
	color: rgb(126, 87, 189);
}

.George_Table th, td {
	border: 1px solid black;
	padding: 10px;
	margin: 0;
}

.REDACTED { 
	background-color: black; 
}

.over-there {
	margin-right: 50px;
	float: right;
	text-align: center;
}

.message-from-beyond {
	font-size: 120%;
	font-family: 'Courier New', Courier, monospace;
}

div.footnote-line {
	height:0; 
	border:1px solid black; 
	margin-left: 25px;
	width: 25%;
}

p.footnote {
	font-size: small;
	margin-left: 40px;
}